!!! 5
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8">
//if IE 8
  <html class="no-js lt-ie9">
//[if gt IE 8]><!
html(class='no-js')
  //<![endif]
  head
    title Hello World
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='css/style.css')
  body
    h1 Hello World!

